.home-heading {
  text-align: center;
  color: gold;
  font-family: "Dancing Script",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  margin-bottom: 2%;
}

.home-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 350px;
  width: auto;
  padding-bottom: 30px;
  border-radius: 50%;
  padding-top: 1px;
}

body {
  background-color: white;
}

ul {
  margin: 0px;
  padding: 0%;
}

.back {
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.home-list{
  text-align: center;
  box-sizing: border-box;
}

.home-list a{
  text-decoration: none;
  color: black;
}

.home-list li{
  display: inline-block;
  margin: auto 12px;
  font-size: 25px;
  background-color: gold;
  border-style: solid;
  padding: 7px;
  border-width: 1.5px;
  font-family:'Times New Roman', Times, serif;
}